*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



span{
    color: #00D1FF;
}

a:hover{
    color: white;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
}
li{
    margin: 20px;
    /* width: 80%; */
}

ul{
    display: flex;
    margin: 12px;
    list-style: none;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    width: 100%;
}

.about-head{
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 300px;
color: #FFFFFF;
text-align: center;
}

.nav-sec{
background: #000066;
overflow: hidden;
}

.navbar{
/* border: solid; */
background-color: none !important;
border: none !important;
}

.get-row{
background-image: url("./Image/background-img-about.svg");
background-repeat: no-repeat;
background-position: center;
background-size: 700px;
height: 42vh;
}


.btn{
padding: 14px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
width: 100%;
font-size: 18px;
line-height: 100%;
text-align: center;
color: #FFFFFF;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
border: solid 1px rgb(54, 54, 221);
}

.btn:hover{
color: white;
}


.get-head{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 300px;
    color: #FFFFFF;
    text-align: center;
}

.pp{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
    color: #003399;
    text-align: center;
    padding-top: 50px;
}


.pro-sec{
    background: #EAFBFF;
    padding-bottom: 20vh;
}

.pro-mobile{
    display: none;
}

.pro-row{
    padding-top: 10%;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8{
    width: 100%;
}

.item-1{
  margin-left: 1rem;
  margin-top: 3px;
}

.item-3, .item-5, .item-7{
  margin-left: 1rem;

}

.item-2, .item-4, .item-6, .item-8{
  /* margin-right: 4%; */
  position: relative;
  right: 1rem;
}

.item-2{
    margin-top: 18%;
}

.item-5, .item-7, .item-8{
    position: relative;
    bottom: 23%;
}

/* TELL-US-SECTION */
.tell-us-sec{
    background: #DAF8FF;
    padding: 30px;
    /* margin-top: 30vh; */
}

.tell-head{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 51px;
    color: #003399;
    padding: 10px;
    /* padding-left: 19px; */
}

.tell-head-mobile{
    display: none;
}

.item{
    color: rgb(37, 35, 35);
    margin-left: 20px;
    font-size: 16px;
}

.tell-items{
    display: block;
    list-style: none;
    line-height: 30px;
}

.anoda-span{
    color: rgb(37, 35, 35);
    margin-left: 4%;
    padding: 9px;
}

th{
    padding: 10px;
}


input[type=text], select, textarea {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
    background: #DAF8FF;
  }
  
  input[type=submit] {
    padding: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    width: 30%;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #003399;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 1px #00D1FF;
    text-align: center;
    margin-top: 4%;
    background: #DAF8FF;
  }
  
 
  /* FOOTER SECTION */

  .footer-sec{
    background: #000066;
    padding-bottom: 10px;
  }

  hr{
    background-color: #2c0cbb;
    margin-top: 50px;
    width: 89%;
    margin: 0 auto;
}

 /* .footer-col{
    width: 1% !important;
    border-bottom: 1px solid #00D1FF;
    padding: 3%;
 } */
.footer-para{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.396px;
    color: #A5B0EA;
}

.footer-link{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 18px;
}

.fit{
    margin: 0 auto;
    font-size: 15px;

}

.mobile{
    display: none;
}

.fa{
    padding: 5px;
    font-size: 17px;
    width: 26px;
    text-align: center;
    text-decoration: none;
    margin: 2px 4px;
    border-radius: 50%;
    margin-top: 40px;
}

.fa-instagram, .fa-facebook, .fa-twitter{
    background-color: #00D1FF;
    color: white;
}

@media(max-width: 1024px){
.pro-mobile{
    display: none;
}
.get-row{
    background-image: url("./Image/background-img-about.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 840px;
    height: 30vh;
}

.get-head{
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 490px;
    color: #FFFFFF;
    text-align: center;
    font-family: Oswald;
}
}
@media(max-width: 768px){

ul{
    line-height: 60px;
    display: block;  
}

.desktop, .tell-head{
    display: none;
}
  
.pro-desktop{
    display: none;
}

.pro-mobile{
    display: block;
}
    
.mobile{
    display: block;
}

.ul{
    margin: 0 auto;
}

.item{
    margin-left: 20px;
    font-size: 14px;
    color: rgb(37, 35, 35);
}

.tell-head-mobile{
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 51px;
    color: #003399;
    padding: 10px;
    text-align: center;
    display: block;
    font-family: Oswald;
}

.get-head{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 300px;
    color: #FFFFFF;
    text-align: center;
}

.footer-para{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.396px;
    color: #A5B0EA;
    font-family: Poppins;
}

.get-row{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
    height: 30vh;
    background-image: url("./Image/background-img-about.svg");
}
}
@media(max-width: 540px){

.get-logo{
    width: 30% !important;
    position: relative;
    right: 3% !important;
}

.footer-logo{
    width: 60%;
}

.desktop, .tell-head{
    display: none;
}

.mobile{
    display: block;
}

li{
    margin: 13px;
    width: 90%;
    line-height: 60px;
}

.pro-sec{
    padding-bottom: 20vh;
    background: none;
}

.item{
    color: rgb(37, 35, 35);
    margin-left: 20px;
    font-size: 14px;
}

.btn{
    width: 40%;
}
    
.btn:hover{
    color: white;
}

.get-head{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 250px;
    color: #FFFFFF;
    text-align: center;
}

.tell-head-mobile{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 51px;
    color: #003399;
    padding: 10px;
    text-align: center;
    display: block;
}

.pro-desktop{
    display: none;
}

.pro-mobile{
    display: block;
}
    
.item-1, 
.item-2, 
.item-3, 
.item-4, 
.item-5, 
.item-6, 
.item-7, 
.item-8{
    width: 99%;
    margin: 0 auto;
    display: block;
    border-radius: 0px; 
}

.item-col{
    margin: 0px;
}

.item-1{
    margin-left: 0rem;
    margin-top: 0px;
    margin: 0 auto;
    display: block;
}

.item-2{
    margin-top: 0%;
}

.item-2, 
.item-4, 
.item-6, 
.item-8{
    position: relative;
    right: 0rem;
}

.item-3, 
.item-5, 
.item-7{
    margin-left: 0rem;
    margin: 0 auto;
}

.item-5, 
.item-7, 
.item-8{
    position: relative;
    bottom: 0%;
}

.get-row{
    background-image: url("./Image/background-img-about.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    height: 30vh;
    }
}
@media(max-width: 520px){

    .get-logo{
        width: 30% !important;
        position: relative;
        right: 3% !important;
    }
    
    .footer-logo{
        width: 60%;
    }
    
    .desktop, .tell-head{
        display: none;
    }
    
    .mobile{
        display: block;
    }
    
    ul{
        display: block;
        line-height: 60px;
    
    }
    
    .pro-sec{
        padding-bottom: 20vh;
        background: none;
    }
    
    .item{
        color: rgb(37, 35, 35);
        margin-left: 20px;
        font-size: 14px;
    }
    
    .btn{
        width: 40%;
    }
        
    .btn:hover{
        color: white;
    }
    
    .get-head{
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 33px;
        line-height: 200px;
        color: #FFFFFF;
        text-align: center;
    }
    
    .tell-head-mobile{
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 33px;
        line-height: 51px;
        color: #003399;
        padding: 10px;
        text-align: center;
        display: block;
    }
    
    .pro-desktop{
        display: none;
    }
        
    .item-1, 
    .item-2, 
    .item-3, 
    .item-4, 
    .item-5, 
    .item-6, 
    .item-7, 
    .item-8{
        width: 99%;
        margin: 0 auto;
        display: block;
        border-radius: 0px; 
    }
    
    .item-col{
        margin: 0px;
    }
    
    .item-1{
        margin-left: 0rem;
        margin-top: 0px;
        margin: 0 auto;
        display: block;
    }
    
    .item-2{
        margin-top: 0%;
    }
    
    .item-2, 
    .item-4, 
    .item-6, 
    .item-8{
        position: relative;
        right: 0rem;
    }
    
    .item-3, 
    .item-5, 
    .item-7{
        margin-left: 0rem;
        margin: 0 auto;
    }
    
    .item-5, 
    .item-7, 
    .item-8{
        position: relative;
        bottom: 0%;
    }
    
    .get-row{
        background-image: url("./Image/background-img-about.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 420px;
        height: 22vh;
        }
}
@media(max-width: 375px){

.btn{
    width: 60% !important;     
}

.item{
    margin-left: 20px;
    font-size: 12px;
    color: rgb(37, 35, 35);
}

.tell-head-mobile{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 51px;
    color: #003399;
    padding: 10px;
    text-align: center;
    display: block;
}

.get-head{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 210px;
    color: #FFFFFF;
    text-align: center;
}

input[type=submit] {
    padding: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    width: 36%;
}

.footer-para{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.396px;
    color: #A5B0EA;
}
.get-row{
    background-image: url("./Image/background-img-about.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 420px;
    height: 25vh;
    }
    
.btn{
    width: 40%;
}
        
.btn:hover{
    color: white;
}
}
@media(max-width: 360px){

.btn{
    width: 60% !important;     
}

.get-logo{
    width: 30% !important;
    position: relative;
    right: 3% !important;
}

.item{
    margin-left: 20px;
    font-size: 12px;
    color: rgb(37, 35, 35);
}

.tell-head-mobile{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 51px;
    color: #003399;
    padding: 10px;
    text-align: center;
    display: block;
}

input[type=submit] {
    padding: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    width: 36%;
}

.footer-para{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.396px;
    color: #A5B0EA;
}

.get-row{
    background-image: url("./Image/background-img-about.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    height: 30vh;
    }
    
.btn{
    width: 40%;
}
        
.btn:hover{
    color: white;
}
}
@media(max-width: 320px){

    .footer-logo{
        width: 67%;
    }

    .btn{
        width: 100%;     
    }
        
    .btn:hover{
        color: white;
    }

    .item{
        margin-left: 20px;
        font-size: 10px;
        color: rgb(37, 35, 35);
    }

    .item-img{
        width: 16px;
    }
    
    .tell-head-mobile{
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 41px;
        color: #003399;
        padding: 10px;
        text-align: center;
        display: block;
    }

    .get-head{
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 210px;
        color: #FFFFFF;
        text-align: center;
    }
    
    input[type=submit] {
        padding: 14px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        width: 39%;
    }
    
    .footer-para{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.396px;
        color: #A5B0EA;
    }

    .fa{
        padding: 5px;
        font-size: 14px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        margin: 2px 4px;
        border-radius: 50%;
        margin-top: 40px;
    }

    .get-row{
        background-image: url("./Image/background-img-about.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 400px;
        height: 30vh;
        }
        
    .btn{
        width: 40%;
    }
            
    .btn:hover{
        color: white;
    }
}


